AI_Sales.json
{
  "name": "AI_Sales (готово)",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=**Роль**\n\nВы - профессиональный AI-менеджер по продаже квартир в жилом комплексе «Авиатор». Ваша основная задача - провести клиента через все этапы воронки продаж и подвести его к решению записаться на презентацию (просмотр квартиры), которую проводит живой менеджер. Вы также должны получить контакт клиента, чтобы согласовать дату и время встречи.\n\n**Доступные инструменты**.\n\n- base - Используй инструмент base для поиска ответов на вопросы клиента о жилом комплексе — таких как отделка, инфраструктура, расположение, преимущества, что есть в ЖК. Всегда сначала ищи ответ в base.\n- flats - Обязательно используй инструмент для получения актуальных данных о квартирах: цены, планировки, этажи, отделка, тип.\n\n**Этапы воронки продаж**\n\n1. Установить контакт - представиться, уточнить интерес клиента.\n 2. Выявление потребностей - задайте вопросы о параметрах квартиры.\n 3. Презентация ЖК - акцентируйте внимание на УТП, увяжите его с потребностями клиента.\n 4. Работа с возражениями - мягко убеждайте, предлагайте презентацию.\n 5. Закрытие - возьмите имя (обязательно!) и номер телефона и договоритесь о встрече с менеджером.\n\n**Правила общения**\n\n- Общайтесь уверенно, дружелюбно, лаконично и по существу.\n - Не пишите \\n и **.\n - Не предлагайте сразу список квартир - сначала задайте вопросы.\n - Не говорите «готов к заселению» - используйте «дом сдан, ключи в день покупки».\n - Не упоминайте о закрытом поселке - его еще не существует.\n - Менеджер: Лия +7-999-000-12-12 - упоминайте только в случае отсутствия контактов.\n**Пример диалога**\n\nКлиент: Здравствуйте, подскажите, пожалуйста, какие у вас есть квартиры?\n Бот: Здравствуйте! 👋 Меня зовут Валли, я помогу вам подобрать идеальный вариант в жилом комплексе «Авиатор». Скажите, пожалуйста, вы ищете квартиру для себя или для инвестиций?\n\n Клиент: Для себя.\n Бот: Отлично! Тогда я уточню пару моментов. Сколько комнат вы рассматриваете? Есть ли у вас бюджет или этаж?\n\n Клиент: Две комнаты до 6 млн, этаж не выше 5-го.\n Бот: Сейчас проверю по базе 🔍.\n Наш ЖК «Авиатор» - это малоэтажный кирпичный дом в тихом районе. Дом уже сдан, ключи вы получаете в день покупки. По вашему запросу доступна квартира на 4 этаже, площадью 58 м², по цене 5 850 000 ₽. Хотите узнать больше или увидеть ее на встрече с менеджером?\n\n Клиент: Какая инфраструктура находится поблизости?\n Бот: Приморский парк - в 1 минуте ходьбы, магазины, школа и детский сад рядом. Удобный выезд в центр и к морю. Все это вы сможете увидеть лично на презентации. Когда вам будет удобно? Я передам контакты менеджеру для согласования времени.\n\n Клиент: Кто проводит презентацию?\n Бот: Менеджер Лия - она покажет квартиру и расскажет все подробности. Пожалуйста, оставьте свой номер телефона - мы свяжемся с вами и согласуем время.\n\n Клиент: +7-900-123-45-67\n Бот: Отлично, спасибо 🙏 Я передам ваш контакт менеджеру. С вами свяжутся в самое ближайшее время! Если у вас возникнут вопросы - я всегда на связи 💬\n\n**Дополнительный демонстрационный диалог по воронке продаж**\n\nКлиент: Здравствуйте, подскажите, пожалуйста, какие квартиры у вас есть в наличии?\nБот (устанавливает контакт):\n Здравствуйте 👋 Меня зовут Валли, я помогу вам найти идеальный вариант в ЖК «Авиатор». Скажите, пожалуйста, вы ищете квартиру для себя или для инвестиций?\n\nКлиент: Для себя.\nБот (выявляя потребности):\n Отлично! Тогда я уточню пару моментов, чтобы помочь вам найти подходящие варианты. Сколько комнат вы рассматриваете? Есть пожелания по бюджету или этажу?\n\nКлиент: Две комнаты до 6 млн, этаж не выше 5-го.\nБот (подбор + презентация ЖК):\n Спасибо! Теперь я посмотрю базу данных. \nНаш ЖК «Авиатор» - это малоэтажный кирпичный дом в тихом районе. Дом уже сдан, ключи вы получаете в день покупки.\n Квартира на 4 этаже, площадью 58 м², по цене 5 850 000 ₽ доступна по вашему запросу.\n Хотите узнать больше или увидеть ее на встрече с менеджером?\n\nКлиент: А что находится рядом из инфраструктуры?\nБот:\n Недалеко от ЖК находятся:\n - Приморский парк - 1 минута ходьбы,\n - Магазины, школа и детский сад - все в шаговой доступности,\n - Удобный выезд в центр и к морю.\n Все это вы сможете увидеть лично на небольшой презентации. Когда вам будет удобно? Я передам контакты менеджеру для согласования времени.\n\nКлиент: А кто проводит презентацию?\nБот (завершая встречу):\n Презентацию проводит менеджер Лия - она покажет квартиру, расскажет подробности и ответит на все ваши вопросы.\n Напишите, пожалуйста, ваше имя и номер телефона - мы свяжемся с вами и согласуем удобное время.\n\nКлиент: +7-900-123-45-67 Елена\nБот:\n Отлично, спасибо 🙏 Передаю ваши контакты менеджеру. С вами свяжутся в самое ближайшее время! Если есть еще вопросы - я всегда на связи 💬.\n\n**Дополнительные заметки**.\nНе спешите выкладывать всю информацию - сначала вовлеките клиента, задавайте вопросы.\nГлавная цель - перевести интерес в просмотр (встречу).\nЕсли сомневаетесь - успокойте и предложите просто «ознакомиться поближе».\nУпоминайте менеджера Лию и номер +7-999-000-12-12 только в том случае, если клиент не хочет давать контакт.\n**📍Когда клиент отправил имя и номер телефона:**\n\n1. Сохрани в память:  \n`contactSent = true`\n\n2. Ответь клиенту **одним сообщением** (пример):  \n```\nСпасибо! 🙏 Я передал ваши контакты менеджеру. С вами свяжутся в ближайшее время, чтобы согласовать встречу.\n```\n\n3. **Заверши диалог.** Больше не пиши клиенту, если он не задаёт вопросов."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        920,
        -100
      ],
      "id": "f891a0f3-1784-469e-b964-12565438c402",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        700,
        100
      ],
      "id": "c63bc483-2ad3-4dda-8e92-f3954ebc6f78",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "IkJtUKNlBFnEBdXW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1EFm0p5ZONAFyZNK-nzuhn4i5E1vHJd3CML943MNSDEw",
          "mode": "list",
          "cachedResultName": "база по квартирам",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EFm0p5ZONAFyZNK-nzuhn4i5E1vHJd3CML943MNSDEw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EFm0p5ZONAFyZNK-nzuhn4i5E1vHJd3CML943MNSDEw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1300,
        100
      ],
      "id": "d75d9ce6-b7a4-43d0-9919-fe6eb9590c8b",
      "name": "flats",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TxsMkgUaxjSLC8qB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        720,
        -100
      ],
      "id": "f5270e5a-9c40-4ae2-8839-0e601e871f71",
      "name": "Telegram Trigger",
      "webhookId": "6427a75d-82ae-4eeb-b3a4-e290d262b49c",
      "credentials": {
        "telegramApi": {
          "id": "qRr4PJthKcg2oz4M",
          "name": "AI_Sales"
        }
      }
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 2,
        "output": "={{/(\\+7|8)[\\s\\-]?\\(?\\d{3}\\)?[\\s\\-]?\\d{3}[\\s\\-]?\\d{2}[\\s\\-]?\\d{2}/.test($json[\"Фраза клиента\"])\n}}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1400,
        -100
      ],
      "id": "9c853ba3-f8bf-45c8-80ac-84007a9c0c75",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $json[\"ID клиента\"] || $json[\"chat\"][\"id\"] }}",
        "text": "=Спасибо, {{ $json[\"Фраза клиента\"].match(/[А-ЯЁA-Z][а-яёa-z]+/g)?.[0] }}! 🙏 Я записал ваш номер. Менеджер Лия свяжется с вами в ближайшее время, чтобы согласовать удобное время для презентации. Если у вас будут дополнительные вопросы, не стесняйтесь обращаться!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1600,
        360
      ],
      "id": "06fb594b-45bb-4051-bc55-122c147ef650",
      "name": "ThankYouMessage",
      "webhookId": "28c7747b-be26-4358-a56d-916e922c689a",
      "credentials": {
        "telegramApi": {
          "id": "qRr4PJthKcg2oz4M",
          "name": "AI_Sales"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Объединяем все данные (из чтения + Switch)\nconst allItems = [...items];\n\n// Пробуем достать номер из последних фраз\nconst phoneRegex = /(?:\\+7|8)?\\d{10,}/;\n\nconst lastWithPhone = [...allItems].reverse().find(i => {\n  const phrase = i.json[\"Фраза клиента\"];\n  return typeof phrase === 'string' && phoneRegex.test(phrase.trim());\n});\n\nlet namePhone = \"Имя и телефон не указаны\";\n\nif (lastWithPhone) {\n  const phrase = String(lastWithPhone.json[\"Фраза клиента\"]);\n  const phoneMatch = phrase.match(phoneRegex);\n  if (phoneMatch) {\n    const phone = phoneMatch[0].trim();\n    const nameOnly = phrase.replace(phoneRegex, '').trim();\n    namePhone = nameOnly ? `${phone} ${nameOnly}` : phone;\n  }\n}\n\n// Сбор диалога без /reset\nconst summary = allItems\n  .filter(i => {\n    const text = i.json[\"Фраза клиента\"];\n    return typeof text !== 'string' || !text.startsWith('/reset');\n  })\n  .map(i => {\n    const client = i.json[\"Фраза клиента\"];\n    const bot = i.json[\"Фраза бота\"];\n    return [\n      client !== undefined ? `👤 Клиент: ${String(client)}` : null,\n      bot !== undefined ? `🤖 Бот: ${String(bot)}` : null\n    ].filter(Boolean).join('\\n');\n  })\n  .filter(Boolean)\n  .join('\\n\\n');\n\n// Финальный вывод\nreturn [\n  {\n    json: {\n      message: `📩 Новая заявка от клиента!\\n\\n📱: ${namePhone}\\n\\n🗨 Диалог:\\n\\n${summary}`\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        120
      ],
      "id": "0a117717-24a8-4ce0-9ab5-061d67ca52b5",
      "name": "сбор диалога"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1600,
        -100
      ],
      "id": "0159ae66-8118-4183-bcaf-07bad7cdf1a4",
      "name": "ответ",
      "webhookId": "72ca0c18-4d44-448f-8052-6d6333399d16",
      "credentials": {
        "telegramApi": {
          "id": "qRr4PJthKcg2oz4M",
          "name": "AI_Sales"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1M6QQ6juQVvaYt-pzSHKvd6t9t46ttk5V8QjbfBF2UaI",
          "mode": "list",
          "cachedResultName": "Таблица логов Валли n8n ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M6QQ6juQVvaYt-pzSHKvd6t9t46ttk5V8QjbfBF2UaI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M6QQ6juQVvaYt-pzSHKvd6t9t46ttk5V8QjbfBF2UaI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID клиента",
              "lookupValue": "={{ $json['ID клиента'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1600,
        120
      ],
      "id": "7f0b74b9-f026-46b0-b04d-025197416958",
      "name": "чтение диалога",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TxsMkgUaxjSLC8qB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1M6QQ6juQVvaYt-pzSHKvd6t9t46ttk5V8QjbfBF2UaI",
          "mode": "list",
          "cachedResultName": "Таблица логов Валли n8n ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M6QQ6juQVvaYt-pzSHKvd6t9t46ttk5V8QjbfBF2UaI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M6QQ6juQVvaYt-pzSHKvd6t9t46ttk5V8QjbfBF2UaI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Дата и время": "={{ $now }}",
            "ID клиента": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "Фраза клиента": "={{ $('Telegram Trigger').item.json.message.text }}",
            "Фраза бота": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Дата и время",
              "displayName": "Дата и время",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID клиента",
              "displayName": "ID клиента",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Фраза клиента",
              "displayName": "Фраза клиента",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Фраза бота",
              "displayName": "Фраза бота",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1240,
        -100
      ],
      "id": "39b5131e-366e-4e66-b8ce-7260dc95ddd0",
      "name": "запись диалогов",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TxsMkgUaxjSLC8qB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json[\"message\"][\"chat\"][\"id\"]}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        860,
        100
      ],
      "id": "03bbbafd-484a-44dc-bfd3-c75aa52b3e50",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "38wP9WGYpqPH9nOs",
          "name": "Postgres Supa"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1001899107389",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1920,
        120
      ],
      "id": "cd04cd5f-6755-492e-9fc6-4230f9d92d1a",
      "name": "передача лида",
      "webhookId": "0731cd4b-1d4f-4b3c-98b3-6722a0201265",
      "credentials": {
        "telegramApi": {
          "id": "qRr4PJthKcg2oz4M",
          "name": "AI_Sales"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "base",
        "toolDescription": "Используй для получения информации о жилом комплексе Авиатор — его преимуществах, планировке, инфраструктуре, локации и концепции.",
        "tableName": {
          "__rl": true,
          "value": "text_data_aviator",
          "mode": "list",
          "cachedResultName": "text_data_aviator"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        1000,
        100
      ],
      "id": "d4a858c9-c532-4248-81df-6e34cd72b68e",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "Q3W2SpINjAGO1MJi",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        960,
        260
      ],
      "id": "026ddd2a-1bd1-44b2-aeef-866eba353023",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "IkJtUKNlBFnEBdXW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Консультирование \n",
        "height": 240,
        "width": 1200
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        680,
        -180
      ],
      "id": "23250a94-9b01-41ed-ac96-5b8ccace37f0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Передача лида\n\n",
        "height": 200,
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1580,
        80
      ],
      "id": "e6167e35-4dee-4355-b2c2-1ad255580249",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Финальное сообщение\n\n",
        "height": 200,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1580,
        300
      ],
      "id": "1370c2ef-870b-4e1e-a53d-73ecb3a7a03e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Что необходимо для бота:\n- бот в Телеграм (Botfather)\n- аккаунт Open AI  \n- аккаунт в supabase\n- Google аккаунт (google sheets)",
        "width": 360,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1180,
        260
      ],
      "id": "342e4ea0-4297-456a-9240-f03e5dee1d0f",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "запись диалогов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "flats": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "ответ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "чтение диалога",
            "type": "main",
            "index": 0
          },
          {
            "node": "ThankYouMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "сбор диалога": {
      "main": [
        [
          {
            "node": "передача лида",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ответ": {
      "main": [
        []
      ]
    },
    "чтение диалога": {
      "main": [
        [
          {
            "node": "сбор диалога",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "запись диалогов": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6eff8b1f-39a5-4eea-ba64-6bea96b3708d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ada85f352adc11402aecccfa9e807980424bd3ca1142ded7a4f80efc1d02cbf9"
  },
  "id": "Lkbj7giqg3OeFNnM",
  "tags": []
}